{% extends "layout.twig" %}

{% block content %}
    <h2>Evaluation d'entreprise </h2>

    {# 🔴 erreurs #}
    {% if errors is not empty %}
        <div class="error-box">
            {% for fieldErrors in errors %}
                {% for error in fieldErrors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <form id="formEntreprise" data-validate="true" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="card">
            <div class="card-left">
                <h3>
                    {{ entreprise.nom }}
                </h3>
                <p>{{ entreprise.description }}</p>
                <p><u>Email</u>: {{ entreprise.email }}</p>
                <p><u>Téléphone</u>: {{ entreprise.telephone }}</p>
            </div>
        </div>
        
        {% if entreprise.evaluation is not empty %}
            <label for="evaluation">Vous avez noté l'entreprise le {{ entreprise.date_evaluation }}</label>
            <div class="stars-rating" data-value="{{ entreprise.evaluation }}" data-readonly="true">
                <span data-value="1">☆</span>
                <span data-value="2">☆</span>
                <span data-value="3">☆</span>
                <span data-value="4">☆</span>
                <span data-value="5">☆</span>
            </div>
            <p><u>Commentaire</u>: {{ entreprise.commentaire }}</p>
        {% else %}
            <label for="evaluation">Votre Evaluation de l'entreprise</label>
            <input type="hidden" name="evaluation" id="evaluation" value="{{ entreprise.evaluation }}">
            <div class="stars-rating">
                <span data-value="1">☆</span>
                <span data-value="2">☆</span>
                <span data-value="3">☆</span>
                <span data-value="4">☆</span>
                <span data-value="5">☆</span>
            </div>
            <label for="commentaire">Commentaire</label>
            <textarea name="commentaire" id="commentaire" data-validate="required|txt">{{ entreprise.commentaire }}</textarea>
        {% endif %}
        
        

        <button type="submit">Sauve</button>
        <button type="button" onclick="window.location.href='{{ CDN ~ PREFIX }}/entreprise/recherche'">Annule</button>

    </form>
{% endblock %}
